@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
}

a {
    position: relative;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: rgb(87, 87, 87);
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

a:hover {
    color: rgb(53, 53, 53);
}

a:hover::after {
    transform: translateX(-50%) scaleX(1);
}



li {
    list-style-type: none;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 16px;
}

.header {
    margin: 20px;
    background-color: #FADCD9;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    margin: 20px;
}

.left-column,
.middle-column,
.right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 0;
}

.left-column>div {
    background-color: #FADCD9;
    border-radius: 16px;
    padding: 20px;
    flex: 1;
}

.intro {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    flex-direction: column;
}

.intro img {
    width: 20%;
    align-self: flex-end;
}

.about {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    flex-direction: column;
}

.about img {
    width: 10%;
    align-self: flex-end;
}

.middle-column img {
    width: 100%;
    max-width: 450px;
    border-radius: 16px;
    height: auto;
    object-fit: cover;
}

.contact-me {
    background-color: #F8AFA6;
    border-radius: 16px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
    flex: 1;
}

.contact-me h2 {
    font-size: 48px;
}

.right-column>div,
.right-column>nav {
    background-color: #FADCD9;
    border-radius: 16px;
    padding: 20px;
    flex: 1;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
}

.service h2 {
    border-bottom: 2px #F8AFA6 solid;
    padding-bottom: 12px;
    cursor: pointer;
    color: black;
    transition: color 0.3s ease;
}

.service h2:hover {
    color: rgb(53, 53, 53);
}

.social {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.social a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.55);
    display: grid;
    place-items: center;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transition: opacity 0.3s ease;
}

.modal-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background: #fff;
    width: 90%;
    max-width: 420px;
    padding: 24px;
    border-radius: 16px;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 16px;
    transform: translateY(20px);
    opacity: 0;
    user-select: text;
    transition: 0.3s ease;
}

.modal-overlay.active .modal {
    transform: translateY(0);
    opacity: 1;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-title {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    flex: 1;
}

.modal-close {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.modal-text {
    font-size: 20px;
    margin: 0;
}



@media(max-width:1024px) {
    .main-content {
        grid-template-columns: 1fr 1fr;
    }

    .left-column {
        grid-column: span 2;
    }
}

@media(max-width:768px) {
    .main-content {
        grid-template-columns: 1fr;
    }

    .left-column {
        grid-column: span 1;
    }

    .middle-column img {
        align-self: center;
    }
}