@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

a {
    text-decoration: none;
    color: black;
    position: relative;
}

a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: rgb(87, 87, 87);
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

a:hover {
    color: rgb(53, 53, 53);
}

a:hover::after {
    transform: translateX(-50%) scaleX(1);
}

h2 {
    display: flex;
    justify-self: center;
    align-self: center;
}

h3 {
    display: flex;
    justify-self: center;
    align-self: center;
}

.header {
    margin: 20px;
    background-color: #FADCD9;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.help-icon {
    width: 36px;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 20px;
    margin: 20px;
    border-radius: 16px;
    background-color: #FADCD9;
}

.card {
    width: 100%;
    aspect-ratio: 244 / 344;
    background: #f2f2f2;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.55);
    display: grid;
    place-items: center;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transition: opacity 0.3s ease;
}

.modal-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background: #fff;
    width: 90%;
    max-width: 420px;
    padding: 24px;
    border-radius: 16px;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 16px;
    transform: translateY(20px);
    opacity: 0;
    user-select: text;
    transition: 0.3s ease;
}

.modal-overlay.active .modal {
    transform: translateY(0);
    opacity: 1;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-title {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    flex: 1;
}

.modal-close {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.modal-text {
    font-size: 20px;
    margin: 0;
}