@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
}

.header {
    margin: 20px;
    background-color: #FADCD9;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    margin: 20px;
}

.left-column,
.middle-column,
.right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 0;
}

.left-column>div {
    background-color: #FADCD9;
    border-radius: 16px;
    padding: 20px;
    flex: 1;
}

.intro {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    flex-direction: column;
}

.intro img {
    width: 20%;
    align-self: flex-end;
}

.about {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    flex-direction: column;
}

.about img {
    width: 10%;
    align-self: flex-end;
}

.middle-column img {
    width: 100%;
    max-width: 450px;
    border-radius: 16px;
    height: auto;
    object-fit: cover;
}

.contact-me {
    background-color: #F8AFA6;
    border-radius: 16px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
    flex: 1;
}

.contact-me h2 {
    font-size: 48px;
}

.right-column>div,
.right-column>nav {
    background-color: #FADCD9;
    border-radius: 16px;
    padding: 20px;
    flex: 1;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
}

.service h2 {
    border-bottom: 2px #F8AFA6 solid;
    padding-bottom: 12px;
}

.social {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.social a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}