@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Mulish", sans-serif;
}

/*Header*/

.header {
    margin: 20px;
    background-color: #FADCD9;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

/*Content*/

.main-content {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.intro {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    flex-direction: column;
}

.intro img {
    width: 20%;
    display: flex;
    align-self: flex-end;
}

.intro {
    align-self: flex-start;
}

.about {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    flex-direction: column;
}

.about img {
    width: 10%;
    display: flex;
    align-self: flex-end;
}

.about .text {
    align-self: flex-start;
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 2;
}

.left-column>div {
    background-color: #FADCD9;
    border-radius: 16px;
    padding: 20px;
}

.middle-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.contact-me {
    background-color: #F8AFA6;
    border-radius: 16px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
}

.contact-me h2 {
    font-size: 48px;
}

.middle-column img {
    width: 100%;
    max-width: 450px;
    border-radius: 16px;
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.service,
.social {
    background-color: #FADCD9;
    border-radius: 16px;
    padding: 20px;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.service h2 {
    border-bottom: 2px #F8AFA6 solid;
    padding-bottom: 12px
}

.social {
    font-size: 18px;
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    gap: 50px;
}

.social a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}